@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


body {
	
    overflow-y: scroll;
    
    background: rgb(0, 0, 0);
    height: 100%;

    font-family: "system";
  
}






.search_form{
    background-color: #eaeaea;
}
.card-list{
	
    margin: 2em;
    display: flex;
    
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
	
    align-items: stretch;
    position: absolute;	
	
}

.card{
    opacity: 0.95;  
}

.movie-card{
    margin: 0.5em;
    height: 300px;
    width: 410px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    animation: fadeInLeft;
    animation-duration: 1.5s;
    transition: all 0.35s ease 0s;
	background-color: white;
	opacity: 0.95;  
}

.movie-card:hover{
    transform: scale(.95);
}




#detail-img{
	height:auto;
	width:300px;
}




#detailbody{
    position: absolute;
    width: 100%;
}

#detail-card-body{
	display: flex;
}

#index-footer{
	position: relative;
	top: 1000px;
	z-index: -1000;
}

#search-footer{
	position: relative;
	top: 1000px;
	z-index: -1000;
}

#detail-footer{
	position: relative;
	top: 2000px;
	z-index: -1000;
}




#particles-js{
    height: 2450px;
    width: 100%;
    position: absolute;
    
}

#particles-js1{
    height: 1350px;
    width: 100%;
    position: absolute;
    
}






.swiper-container {
      width: 100%;
      height: 100%;
	  opacity: 0.95;
}

.swiper-slide {
	  text-align: center;
	  font-size: 18px;
	  background: #fff;
	  border-radius: 5px;
	  /* Center slide text vertically */
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-box-pack: center;
	  -ms-flex-pack: center;
	  -webkit-justify-content: center;
	  justify-content: center;
	  -webkit-box-align: center;
	  -ms-flex-align: center;
	  -webkit-align-items: center;
	  align-items: center;
	  transition: 250ms all;
	  	  
}

.swiper-slide:hover{
    transform: scale(.95);
	z-index: 1;
}

.movie-card img{
	height:300px;
	width:200px;
}





/*
@media only screen and (max-width: 768px) {
	
	.card{
		opacity: 0.95;  
}

	.movie-card{
		
		margin-left: 25px;
		height: 220px;
		width: 310px;
					
}


	.movie-card img{
		
		height:220px;
		width:150px;	
}

	.text-center{
		
	}

	.card-text{
		display:none;
	}
	
	.col-md-8 h1{
		font-size: 30px;	
}

	.col-md-8 h5{
		font-size: 15px;	
}

	.col-md-8 h7{
		font-size: 13px;	
}

	
	#detail-image {
		vertical-align: middle;
		height: 300px;
		width: auto;
	}
	
	#section2-hero{
		margin-top: 90px;
	}
	
	.card-title{
		margin: auto auto auto auto;
	}
	
	
} 
*/